$themecolor: $color-citizen;
	$themecolor-darkest:	$color-citizen-darkest;
	$themecolor-darker:		$color-citizen-darker;
	$themecolor-dark:		$color-citizen-dark;
	$themecolor-light:		$color-citizen-light;
	$themecolor-lighter:	$color-citizen-lighter;
	$themecolor-lightest:	$color-citizen-lightest;
	
$themecolor2: $color-bright-azure;
	$themecolor2-darkest:	$color-bright-azure-darkest;
	$themecolor2-darker:	$color-bright-azure-darker;
	$themecolor2-dark:		$color-bright-azure-dark;
	$themecolor2-light:		$color-bright-azure-light;
	$themecolor2-lighter:	$color-bright-azure-lighter;
	$themecolor2-lightest:	$color-bright-azure-lightest;