$color-dark-gray:				#2c2c2c;
$color-light-gray:			#ececec;
$color-gray-1:				#0f1317;
$color-gray-2:				#2a2e32;
$color-gray-3:				#464a4d;
$color-gray-4:				#616568;
$color-gray-5:				#7d8184;
$color-gray-6:				#989c9f;
$color-gray-7:				#b3b7ba;
$color-gray-8:				#ced2d5;
$color-gray-9:				#e9edf0;

$color-entrepreneur:				#0061af;
	$color-entrepreneur-darkest:	#002646;
	$color-entrepreneur-darker:		#003a69;
	$color-entrepreneur-dark:		#004d8c;
	$color-entrepreneur-light:		#3380bf;
	$color-entrepreneur-lighter:	#3380bf;
	$color-entrepreneur-lightest:	#ccdfef;
	
$color-bright-azure:				#0d92ff;
	$color-bright-azure-darkest:	#053a66; 
	$color-bright-azure-darker:		#075799;
	$color-bright-azure-dark:		#0a77d1;
	$color-bright-azure-light:		#3da7ff;
	$color-bright-azure-lighter:	#86c8ff;
	$color-bright-azure-lightest:	#cee9ff;

$color-persimmon:					#f25d0d;
	$color-persimmon-darkest:		#602505;
	$color-persimmon-darker:		#913707;
	$color-persimmon-dark:			#c14a0a;
	$color-persimmon-light:			#f47d3d;
	$color-persimmon-lighter:		#f8ae86;
	$color-persimmon-lightest:		#fcdece;

$color-deep-orchid:					#a155aa;
	$color-deep-orchid-darkest:		#402244;
	$color-deep-orchid-darker:		#603366;
	$color-deep-orchid-dark:		#804488;
	$color-deep-orchid-light:		#b377bb;
	$color-deep-orchid-lighter:		#d0aad4;
	$color-deep-orchid-lightest:	#ecddee;

$color-red:					#e5291c;
	$color-red-darkest:		#5b100b;
	$color-red-darker:		#891810;
	$color-red-dark:		#b72016;
	$color-red-light:		#ea5349;
	$color-red-lighter:		#f2948d;
	$color-red-lightest:	#f9d4d1;

$color-official:				#178809;
	$color-official-darkest:	#093603;
	$color-official-darker:		#0d5105;
	$color-official-dark:		#126c07;
	$color-official-light:		#459f3a;
	$color-official-lighter:	#8bc384;
	$color-official-lightest:	#d0e7cd;
	
$color-citizen:					#e02271;
	$color-citizen-darkest:		#590d2d;
	$color-citizen-darker:		#861443;
	$color-citizen-dark:		#b31b5a;
	$color-citizen-light:		#e64e8d;
	$color-citizen-lighter:		#ef90b8;
	$color-citizen-lightest:	#f8d2e2;

$color-basic-text:	#333333;
$link-color:	#0a58cc;
