.form-group {
  margin-top: 10px;
  margin-bottom: 20px;

  .indented {
    margin-left: 45px;
  }
}

.form-label {
  display: block;
  @include rem(font-size, 18px);
  @include rem(line-height, 27px);
  @include rem(margin, 20px 0 10px 0);

  @media (max-width: $breakpoint-2) {
    @include rem(font-size, 16px);
    @include rem(line-height, 24px);
    @include rem(margin, 16px 0 8px 0);
    word-break: break-word;
  }

  &.small {
    @include rem(font-size, 16px);
    @include rem(line-height, 24px);
    @include rem(margin, 20px 0 8px 0);

    @media (max-width: $breakpoint-2) {
      @include rem(font-size, 14px);
      @include rem(line-height, 20px);
      @include rem(margin, 14px 0 6px 0);
    }
  }
}

.required:after {
  color: $color-lakka;
  content: ' *';
}

.validation-error {
  display: block;
  color: $color-punainen;

  &:after {
    @include clearfix();
  }
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="file"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  @include rem(line-height, 20px);
  display: block;
  width: 100%;
  @include rem(padding, 10px);
  border: 1px solid $color-harmaa;
  background-color: $color-valkea;
  border-radius: 2px;
  @include box-shadow(inset 0px 2px 2px -2px $color-harmaa);
  resize: none;
  @include rem(font-size, 18px);

  &:focus, &:active {
    border-color: $color-jarvi;
    @include box-shadow(inset 0px 2px 2px -2px $color-harmaa, 0 0 4px 0  $color-jarvi);
    outline: 0;
  }

  &.placeholder {
    color: $color-harmaa-k20;
    font-style: italic;
  }

  &.invalid {
    color: $color-punainen;
    border: 2px solid $color-punainen;
  }

  &[disabled] {
    background-color: $color-harmaa-10;
    border-color: $color-harmaa-60;
    color: $color-harmaa-60;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.width-80 {
    width: 80px;
  }
  &.width-120 {
    width: 120px;
  }
  &.width-160 {
    width: 160px;
  }
  &.width-200 {
    width: 200px;
  }
  &.width-240 {
    width: 240px;
  }
  &.width-280 {
    width: 280px;
  }
  &.width-320 {
    width: 320px;
  }
  &.width-360 {
    width: 360px;
  }
  &.width-460 {
    width: 460px;
  }
  @media (max-width: $breakpoint-2) {
    @include rem(font-size, 16px);
    @include rem(line-height, 18px);
    @include rem(padding, 6px);

    &.width-80 {
      width: 100%;
      max-width: 80px;
    }
    &.width-120 {
      width: 100%;
      max-width: 120px;
    }
    &.width-160 {
      width: 100%;
      max-width: 160px;
    }
    &.width-200 {
      width: 100%;
      max-width: 200px;
    }
    &.width-240 {
      width: 100%;
      max-width: 240px;
    }
    &.width-280 {
      width: 100%;
      max-width: 280px;
    }
    &.width-320 {
      width: 100%;
      max-width: 320px;
    }
    &.width-360 {
      width: 100%;
      max-width: 360px;
    }
    &.width-460 {
      width: 100%;
      max-width: 460px;
    }
  }
}

// Radio and checkbox lists
.selection-list {
  %marker {
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 15px 15px 15px 0;
    background-color: $color-valkea;
    border: 1px solid $color-jarvi-90;
    z-index: 5;
  }

  .radio-marker {
    @extend %marker;
    border-radius: 100%;
  }

  .check-marker {
    @extend %marker;
    border-radius: 2px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    font-size: 0;
    width: 30px;
    height: 30px;
    margin: 15px 15px 15px 0;

    &:focus + .radio-marker,
    &:focus + .check-marker {
      @include box-shadow(inset 0px 2px 2px -2px $color-harmaa, 0 0 4px 0  $color-jarvi);
      outline: 0;
    }

    &:checked + .radio-marker:after {
      position: absolute;
      background: $color-jarvi-90;
      margin: 20%;
      content: '';
      display: block;
      width: 60%;
      height: 60%;
      border-radius: 100%;
    }

    &:checked + .check-marker:after {
      @extend .charet;
      position: absolute;
      color: $color-jarvi-90;
      display: block;
      content: $icon-check;

      margin: 0 4px;
      font-size: 20px;
      line-height: 30px;
    }

    &[disabled] + .radio-marker,
    &[disabled] + .check-marker {
      background-color: $color-harmaa-10;
      border-color: $color-harmaa-60;

      &:after {
        background: $color-harmaa-60;
        color: $color-harmaa-60;
      }
    }

    &[disabled] + .check-marker {
      &:after {
        background: transparent;
      }
    }

    &[disabled] ~ label {
      color: $color-harmaa-60;

      &:hover {
        cursor: default;
      }
    }

    & ~ label {
      display: inline-block;
      position: relative;
      padding: 15px 0;
      padding-left: 45px;
      z-index: 9;
      word-break: break-word;

      &:hover {
        cursor: pointer;
      }
    }
  }

  input[type="radio"].small,
  input[type="checkbox"].small {
    width: 20px;
    height: 20px;
    margin: 10px 10px 10px 0;

    &:checked + .radio-marker:after {
      margin: 4px;
      width: 10px;
      height: 10px;
    }

    &:checked + .check-marker:after {
      margin: 0 2px;
      font-size: 15px;
      line-height: 20px;
    }

    & + .radio-marker,
    & + .check-marker {
      height: 20px;
      width: 20px;
      margin: 9px 5px 10px 0;
    }

    & ~ label {
      padding: 8px 0;
      padding-left: 30px;
      @include rem(font-size, 16px);
      @include rem(line-height, 20px);
    }
  }

  @media (max-width: $breakpoint-2) {
    input[type="radio"],
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin: 10px 10px 10px 0;

      &:checked + .radio-marker:after {
        margin: 4px;
        width: 10px;
        height: 10px;
      }

      &:checked + .check-marker:after {
        margin: 0 2px;
        font-size: 15px;
        line-height: 20px;
      }

      & + .radio-marker,
      & + .check-marker {
        height: 20px;
        width: 20px;
        margin: 9px 5px 10px 0;
      }

      & ~ label {
        padding: 8px 0;
        padding-left: 30px;
        @include rem(font-size, 16px);
        @include rem(line-height, 20px);
      }
    }
  }
}
