* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}

::selection {
  background: $color-suomi;
  color: $color-valkea;
  text-shadow: none;
}

::-moz-selection {
  background: $color-suomi;
  color: $color-valkea;
  text-shadow: none;
}

.charet {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visuallyhidden, .sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.focusable:active,
.focusable:focus {
	clip: auto;
	height: auto;
	margin: auto;
	overflow: visible;
	position: static;
	width: auto;
}

audio, fieldset, form {
  max-width: 100%;
  padding: 0;
}

video, img {
  max-width: 100% !important;
  max-height: 100%;
}

hr {
  @include rem(margin, 2px 0 18px 0);
}

.left {
  float: left;
}

.right {
  float: right;
}

// General layout

body {
  background: $color-valkea;
}

#page-wrapper {
  overflow: hidden;
}

#main {
  background: $color-harmaa-5;
  position: static;
  @include rem(padding, 32px 0);
}

.main {
  min-height: 20rem;
  @media (max-width: $breakpoint-2) {
    min-height: 0;
  }
}

main {
  display: block;
}

.feedback-page,
.error-feedback-page,
.thanks-page,
.service-info,
.description-of-file {
  margin-bottom: 96px;

  h2:first-child {
    margin-top: 0;
  }
}

.go-back {
  font-family: SourceSansProSemibold;
  display: inline-block;
  @include rem(margin, 18px 0);
  @include rem(font-size, 12px);
  @include rem(line-height, 14px);
  text-transform: uppercase;

  &:before {
    display: inline-block;
    position: relative;
    top: 1px;
    content: '';
    background: url('/resources/img/go_back.svg') no-repeat;
    background-size: contain;
    width: 20px;
    height: 10px;
    margin-right: 5px;
    vertical-align: baseline;
  }

  &:hover, &:focus {
    text-decoration: none;

    &:before {
      opacity: 0.8;
    }
  }

  span:hover, span:focus {
    text-decoration: underline;
  }

}

.box {
  background: $color-valkea;
  overflow: hidden;
  padding: 24px;
  margin: 32px 0;
  color: $color-musta;
  border-radius: 0 0 2px 2px;
  border: 1px solid $color-harmaa-k20;
  border-top: 6px solid $color-suomi;
  word-break: break-word;

  h2 {
    @include rem(line-height, 42px);
    margin-top: 0;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  button,
  .button,
  .button-secondary {
    margin-top: 12px;
    margin-bottom: 8px;
  }
}

.alert-box {
  @extend .box;
  border-top: 6px solid $color-punainen;
  padding-left: 96px;
  min-height: 90px;

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    background: url('/resources/img/error.svg') no-repeat;
    background-size: 42px;
    height: 42px;
    width: 42px;
    left: 24px;
  }
}

.error-box {
  @extend .box;
  border-top: 6px solid $color-punainen;
  padding: 30px 40px;
  padding-left: 130px;
  min-height: 92px;

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    background: url('/resources/img/error.svg') no-repeat;
    background-size: 50px;
    height: 50px;
    width: 50px;
    left: 40px;
  }
}

@media (max-width: $breakpoint-2) {
  .alert-box, .error-box {
    padding: 16px;
    padding-left: 56px;
    min-height: 48px;

    &:before {
      background-size: 32px;
      height: 32px;
      width: 32px;
      left: 16px;
      margin-top: 8px;
    }
  }
}
