#page-header {
  background: $color-valkea;
  max-width: 100%;
  border-top: 4px solid $color-suomi;
  border-bottom: 1px solid $color-harmaa-60;
}

#header-content {
  line-height: 0;
  padding: 0;
  @include rem(margin, 20px auto 24px auto);

  .site-logo {
    @include rem(max-height, 32px);
    margin: 0;
    padding: 0;

    img {
      display: block;
      @include rem(height, 32px);
      width: auto;

      &::selection {
        background: transparent;
      }

      &::-moz-selection {
        background: transparent;
      }
    }
  }
}

@media (max-width: $breakpoint-2) {
  #header-content.container {
    padding: 0 20px 0 12px;
  }
}

@media (max-width: $breakpoint-3) {
  #header-content.container {
    padding: 0 20px;
  }
}
