@mixin box-shadow($values...) {
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  -o-box-shadow: $values;
  box-shadow: $values;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex:  $values;
}

/* The star hack for lte IE7 makes sure the element has layout
   and makes it inline as inline-block doesn't work for elements
   that aren't naturally inline type */
@mixin inline-block() {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

@mixin linear-gradient($from, $to) {
  background: -webkit-linear-gradient(top, $from, $to);
  background: -moz-linear-gradient(top, $from, $to);
  background: linear-gradient(to bottom, $from, $to);
}
