html, body {
  font-family: SourceSansProRegular, "Helvetica Neue", Arial, sans-serif;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $color-musta;
  -webkit-font-smoothing: antialiased;
}

body {
  @include rem(font-size, 18px);
}

h1 {
  font-family: SourceSansProLight, SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 40px);
  @include rem(line-height, 52px);
  @include rem(margin, 5px 0 0 0);
}

h1 .small {
  font-family: SourceSansProSemibold, SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 18px);
  @include rem(line-height, 20px);
}

@media (max-width: $breakpoint-2) {
  h1 { 
    @include rem(font-size, 32px);
    @include rem(line-height, 40px);
  }
  h1 .small {
    @include rem(font-size, 16px);
    @include rem(line-height, 18px);
  }
  h1 .big-light {
    @include rem(font-size, 28px);
    @include rem(line-height, 38px);
  }
}


h2 {
  font-family: SourceSansProSemibold, SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 20px);
  @include rem(line-height, 26px);

  @media (max-width: $breakpoint-2) {
    @include rem(font-size, 16px);
    @include rem(line-height, 18px);
  }
}

h3 {
  font-family: SourceSansProSemibold, SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 26px);
  @include rem(line-height, 34px);
}

h4 {
  font-family: SourceSansProSemibold, SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 20px);
  @include rem(line-height, 26px);
}

h5 {
  font-family: SourceSansProSemibold, SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 18px);
  @include rem(line-height, 24px);
}

h6 {
  font-family: SourceSansProSemibold, SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 16px);
  @include rem(line-height, 20px);
}

h1 {
  margin-top: 2.5em;
  margin-bottom: 0.5em;

  @media (max-width: $breakpoint-1) {
    word-break: break-word;
    margin-top: 2em;
    margin-bottom: 0.3em;
  }
}

h2, h3, h4, h5, h6 {
  margin-top: 2.5em;
  margin-bottom: 1.25em;
  
  @media (max-width: $breakpoint-1) {
    word-break: break-word;
    margin-top: 2em;
    margin-bottom: 0.3em;
  }
}

p {
  font-family: SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 18px);
  @include rem(line-height, 27px);
  @include rem(margin-top, 9px);
  @include rem(margin-bottom, 18px);

  @media (max-width: $breakpoint-2) {
    @include rem(font-size, 16px);
    @include rem(line-height, 24px);
    @include rem(margin-top, 8px);
    @include rem(margin-bottom, 16px);
  }

  @media (max-width: $breakpoint-1) {
    word-break: break-word;
  }
}

p.small {
  font-family: SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 16px);
  @include rem(line-height, 24px);
}

p.large {
  font-family: SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 20px);
  @include rem(line-height, 30px);
}

.ingress {
  font-family: SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 22px);
  @include rem(line-height, 30px);
}

.ingress.large {
  font-family: SourceSansProRegular, 'Helvetica Neue', Arial;
  @include rem(font-size, 24px);
  @include rem(line-height, 32px);
}

.strong {
  font-family: SourceSansProSemibold, SourceSansProRegular, 'Helvetica Neue', Arial;
}

.italic {
  font-style: italic;
}

a {
  color: $color-jarvi;
  cursor: pointer;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-jarvi-70;
    text-decoration: underline;
    outline: 0;
    text-shadow: 0 0 2px 0 $color-valkea;
  }

  &:visited {
    color: $color-jarvi;
  }

  &:active {
    color: $color-jarvi-k10;
    text-decoration: none;
  }
}

a.disabled-link {
  color: $color-harmaa-k20;

  &:hover, &:focus, &:active {
    color: $color-harmaa-k20;
    text-decoration: none;
  }
}

span.padded {
  &:before, &:after {
    content: ' ';
  }
}

.bulleted-list,
.numbered-list {
  @include rem(font-size, 18px);
  margin: 1em;
  padding-left: 1em;
  list-style-position: outside;

  li {
    @include rem(margin, 10px 0);
  }

  ul {
    margin: 0 0.5em;

    li {
      margin: 0;
    }
  }
}

.bulleted-list{
  list-style-type: disc;
}

.numbered-list{
  list-style-type: decimal;
}

.unstyled-list {
  list-style: none;
  @include rem(font-size, 18px); 
}

@media (max-width: $breakpoint-2) {
  .bulleted-list,
  .numbered-list {
    @include rem(font-size, 16px);
    padding-left: 0.5em;
  }
  .unstyled-list {
    @include rem(font-size, 16px);
  }
}

input, textarea {
  font-family: SourceSansProRegular, 'Helvetica Neue', Arial;
}

.break-words {
  ms-word-break: break-all;
  -ms-word-wrap: break-all;
  -webkit-word-break: break-word;
  -webkit-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.break-words-forced {
  word-break: break-all;
  word-wrap: break-word;
}

// This forces IE11 to break long lines (e.g. urls)
.force-break-words {
    display: inline-block;
    word-break: break-all;
}
