$base_path: '..';

$breakpoint-1:	480px;
$breakpoint-2:	600px;
$breakpoint-3:	768px;
$breakpoint-4:	800px;
$breakpoint-5:	1024px;
$breakpoint-6:	1280px;



$body-text-size:	16px;
$base-font-size: 16px !default;

